{% extends 'base.html' %}
{% load static %}

{% block main %}



  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <h2 class="font-weight-bold">
        Contact Us
      </h2>
      <div class="row">
        <div class="col-md-8 mr-auto">
          <form action="" method="post">
            {% csrf_token %}
            <div>
            
            <input type="text" name="name" maxlength="255" required id="id_name" placeholder="Name">
            
            
          </div>
        
          
          <div>
            
            <input type="text" name="phone_number" maxlength="15" required id="id_phone_number" placeholder="Phone number">
            
            
          </div>
        
          
          <div>
            
            <input type="email" name="email" maxlength="254" required id="id_email" placeholder="Email">
            
            
          </div>
        
          
          <div>
          
            <input name="message" cols="40" rows="10"  placeholder="Message">
        </input>
        
            
            
              
            
          </div>
                <div class="mt-5">
                  <button type="submit">
                    send
                  </button>
                </div>
              </div>
            </div>
          </form>

    
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  {% endblock main %}